@font-face {
    font-family: 'Gmarket-sans'; /* 서체 이름 */
    src: url('/src/Fonts/GmarketSansTTFMedium.ttf') format('truetype'); /* 파일 경로와 형식 */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LABDigital';
    src : url('/src/Fonts/LABdigital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color:  #303030;
    width: 430px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Gmarket-sans', sans-serif;
    color: #fff; 
    font-weight: 700;
    padding: 2px 0;
    line-height: 28px;
}
nav span {
    font-size: 30px; 
    font-weight: bold;
}
nav .title {
    font-size: 20px;
}
